table {
  border: 2px solid rgb(0, 0, 0);
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);;
}

thead {
  background-color: rgba(82, 211, 146, 0.552);
  border: 1px solid rgba(0, 0, 0, 0.288);
}

th, td {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 10px;
}
td {
  text-align: center;
}