@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html{
    font-family: "Lexend", serif;
    font-weight: 300;
}

body{
    min-height: 100vh;
    background: url(../images/background.png) center / cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.bg{
    width: 90vw;
    margin: 10px auto;
    flex-direction: column;
    justify-content: center;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 40px;
    overflow: hidden;
}

/* Esercizio 1 */

.Es1{
    padding: 30px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff00);
}

.Es1 h1{
    color: red;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin: 0px;
}

h2{
    color: #c03e02;
    font-weight: 300;
    display: flex;
}

.Es1 p{
    color: #3f3f3f;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.Es1 a {
    display: block;
    width: 210px;
    text-align: center;
    margin: auto;
    color: #cc3a00;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: #fff6f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a:hover {
    background-color: #fff6f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Esercizio 2 */

.list{
    width: fit-content;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background-color: #fff6f0;
    border-radius: 30px;
}

.list h2{
    justify-content: center;
    font-weight: 400;
}

.list hr{
    width: 80%;
    margin: 0px auto;
    border: none;
    border-top: 1px solid #cc3a00;
}

.list ol{
    margin: 20px 50px;
}

.list li {
    padding: 2px 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2px;
}
  
.list ol li ul li:last-child {
    border-bottom: none;
}

.list h5{
    display: flex;
    justify-content: center;
    font-family: "Lexend", serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: #cc3a00;

}

.list p{
    display: flex;
    text-align: center;
    margin: 10px 30px 40px;
    border: 5px solid transparent;
    background-color: #ff793b5b;
    border-radius: 10px;
}

/* Esercizio 3 */
.Es3{
    padding: 30px;
}

.tabella{
    width: 70vw;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background-color: #fff6f0;
    border-radius: 30px;
    overflow: hidden;
}

.tabella h2{
    justify-content: center;
    font-weight: 400;
}

.tabella table{
    margin: 0 30px 30px;
    border-collapse: collapse;
    background-color: #ffd7bd;
    border-radius: 30px;
    overflow: hidden;
}


th, td{
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color: #cc501f29;
}

/* Esercizio 4 */
.Es4{
    font-family: sans-serif;
    margin-bottom: 60px;
}

.card{
    width: fit-content;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header .title h2{
    margin: 0px;
    font-size: 1.25rem;
    color: #000;
}

.header .title h3{
    margin: 5px 0;
    font-weight: 300;
    font-size: 0.875rem;
    color: #686868;
}

.card p{
    color: #686868;
    font-size: 0.875rem;
    margin-bottom: 0;
}

.attesa{
    display: flex;
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.cod-bianco, .cod-verde, .cod-blu, .cod-arancio, .cod-rosso{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ef9b74;
    border-radius: 0.34rem;
    font-size: 25px;
}

.cod-bianco{
    background-color: #e2e2e2;
}

.cod-verde{
    background-color: #a4f177;
}

.cod-blu{
    background-color: #77cef1;
}

.cod-arancio{
    background-color: #ffad3b;
}

.cod-rosso{
    background-color: #ff3e3e;
}