.container{
    margin: 1rem;
    padding: 1rem;
    border: #333333 solid 2px;
    border-radius: 20px;
}

h1{
    color: red;
    font-size: 24px;
}

h2{
    color: #ff036F;
    display: flex;
}

table, td, th{
    border: #333333 solid 1px;
    border-collapse: collapse;
    padding: 10px;
}

th{
    background-color: lightgray;
}